venv/

core/__pycache__
core/general/statistics/__pycache__
core/general/__pycache__
core/linux/__pycache__
core/windows/__pycache__

ui/__pycache__
ui/styles/__pycache__
ui/elements/__pycache__
ui/handlers/__pycache__

constants/__pycache__

build/
dist/
nutka.py
NoAD_VPN_Installer.exe
app.manifest
icon.ico
installer.iss